<div class="articles form">
    <label class="form-input">
        <span translate="ARTICLES.NAME"></span>
        <input type="text" ng-model="articlesFormVM.Article.name"
               placeholder="{{ 'ARTICLES.NAME' | translate }}"/>
    </label>

    <img class="thumbnail" ng-src="{{ articlesFormVM.Article.thumbnail }}"
         ng-show="articlesFormVM.Article.thumbnail" alt="" />

    <label class="form-input">
        <input type="file" ng-model="articlesFormVM.Article.thumbnail" file-upload-image />
    </label>

    <label class="form-input">
        <button ng-model="articlesFormVM.Article.thumbnail" get-picture>
            {{ 'ARTICLES.GET_PICTURE' | translate }}
        </button>
    </label>

    <div class="actions create" ng-show="articlesFormVM.action === 'create'">
        <button class="primary" ng-click="articlesFormVM.createAction(articlesFormVM.Article)"
                translate="ARTICLES.CREATE"></button>
    </div>

    <div class="actions update" ng-show="articlesFormVM.action === 'update'">
        <button class="primary" ng-click="articlesFormVM.updateAction(articlesFormVM.Article)"
                translate="ARTICLES.UPDATE"></button>
    </div>
</div>
