<div class="articles articles-detail">
    <div class="article">
        <div class="header">
            <span class="name" ng-bind="articlesDetailVM.Article.name"></span>
        </div>

        <img class="thumbnail"
             ng-src="{{ articlesDetailVM.config.api }}/thumbnails/{{ articlesDetailVM.Article.image }}" />

        <div class="footer">
            <div class="left">
                <span class="button button-icon material-icons"
                      ui-sref="app.articlesFormEdit({ articleId: articlesDetailVM.Article._id })">mode_edit</span>

                <span class="button button-icon material-icons"
                      ng-click="articlesDetailVM.removeAction(articlesDetailVM.Article)">delete</span>
            </div>

            <div class="timer" ng-if="articlesDetailVM.Article.timer"
                 ng-bind="articlesDetailVM.currDate - articlesDetailVM.Article.timer.createdAt | timer">
            </div>

            <button ng-click="articlesDetailVM.startTimerAction(articlesDetailVM.Article)"
                    ng-hide="articlesDetailVM.Article.timer" translate="ARTICLES.START"></button>

            <button ng-click="articlesDetailVM.stopTimerAction(articlesDetailVM.Article)"
                    ng-show="articlesDetailVM.Article.timer" translate="ARTICLES.STOP"></button>
        </div>
    </div>

    <div class="timers">
        <div ng-repeat="time in articlesDetailVM.timers">
            <div ng-bind="time.updatedAt - time.createdAt | timer"></div>
        </div>
    </div>
</div>

