<div class="articles list">
    <div class="item article" ng-repeat="Article in articlesListVM.articles">
        <div class="header">
            <span class="name" ng-bind="Article.name"></span>
        </div>

        <img class="thumbnail" ng-src="{{ articlesListVM.config.api }}/thumbnails/{{ Article.image }}"
             ui-sref="app.articlesDetail({ articleId: Article._id })" alt="{{ Article.name }}" />

        <div class="footer">
            <span class="button icon-quill" ui-sref="app.articlesFormEdit({ articleId: Article._id })"></span>

            <span class="button icon-bin" ng-click="articlesListVM.removeAction(Article)"></span>

            <button ng-click="articlesListVM.startTimerAction(Article)" ng-hide="Article.timer"
                    translate="ARTICLES.START"></button>

            <button ng-click="articlesListVM.stopTimerAction(Article)" ng-show="Article.timer"
                    translate="ARTICLES.STOP"></button>
        </div>
    </div>
</div>
