<div class="articles detail">
    <div class="item article">
        <div class="header">
            <span class="name" ng-bind="articlesDetailVM.Article.name"></span>
        </div>

        <img class="thumbnail"
             ng-src="{{ articlesDetailVM.config.api }}/thumbnails/{{ articlesDetailVM.Article.image }}" />

        <div class="footer">
            <span class="button icon-quill"
                  ui-sref="app.articlesFormEdit({ articleId: articlesDetailVM.Article._id })"></span>

            <span class="button icon-bin" ng-click="articlesDetailVM.removeAction(articlesDetailVM.Article)"></span>

            <button ng-click="articlesDetailVM.startTimerAction(articlesDetailVM.Article)"
                    ng-show="articlesDetailVM.activeTimers.indexOf(articlesDetailVM.Article._id) === -1">start</button>

            <button ng-click="articlesDetailVM.stopTimerAction(Article)"
                    ng-show="articlesDetailVM.activeTimers.indexOf(articlesDetailVM.Article._id) !== -1">stop</button>
        </div>
    </div>
</div>
