<div class="articles articles-detail">
    <div class="article">
        <img class="thumbnail"
             ng-src="{{ articlesDetailVM.config.api }}/thumbnails/{{ articlesDetailVM.Article.image }}" />

        <div class="footer">
            <div class="left">
                <span class="button button-icon material-icons"
                      ui-sref="app.articlesFormEdit({ articleId: articlesDetailVM.Article._id })">&#xE254;</span>

                <span class="button button-icon material-icons"
                      ng-click="articlesDetailVM.removeAction(articlesDetailVM.Article)">&#xE92B;</span>
            </div>

            <div class="timer" ng-if="articlesDetailVM.Article.timer"
                 ng-bind="articlesDetailVM.$timersService.currDate - articlesDetailVM.Article.timer.createdAt | timer">
            </div>

            <button ng-click="articlesDetailVM.startTimerAction(articlesDetailVM.Article)"
                    ng-hide="articlesDetailVM.Article.timer" translate="ARTICLES.START"></button>

            <button ng-click="articlesDetailVM.stopTimerAction(articlesDetailVM.Article)"
                    ng-show="articlesDetailVM.Article.timer" translate="ARTICLES.STOP"></button>
        </div>
    </div>

    <ul class="list">
        <li ng-repeat="time in articlesDetailVM.timers">
            <div class="createdAt" ng-bind="time.createdAt | date: 'dd/MM/yyyy HH:mm'"></div>
            <div class="countedTime" ng-bind="time.countedTime | timer"></div>
        </li>
    </ul>
</div>
