@import '../../../../assets/colors.less';

.topbar {
  background: black;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  height: 3.2rem;
  width: 100%;
  z-index: 1000;

  > .btn {
    font-size: 3.2rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  > .btn-menu {
    display: inline-block;
  }
}
