<div class="planes form">
    <label>
        <span translate="PLANES.NAME"></span>
        <input type="text" ng-model="PlanesFormVM.Plane.name"
               placeholder="{{ 'PLANES.NAME' | translate }}"/>
    </label>

    <div class="actions create" ng-show="PlanesFormVM.action === 'create'">
        <button class="primary" ng-click="PlanesFormVM.createAction(PlanesFormVM.Plane)"
                translate="PLANES.CREATE"></button>
    </div>

    <div class="actions create" ng-show="PlanesFormVM.action === 'update'">
        <button class="primary" ng-click="PlanesFormVM.updateAction(PlanesFormVM.Plane)"
                translate="PLANES.UPDATE"></button>
    </div>
</div>
