@import '../../../../assets/colors.less';

.articles {
  &.list {
    .article {
      display: block;
      margin: 1rem;
      padding: 1rem;
      box-sizing: border-box;
      border: 1px solid @lightgray;
    }
  }

  &.form {
    padding: 2rem;

    > label.form-input {
      margin: 0 0 2rem;
      display: block;
    }
  }
}
