@import '../../../../assets/colors.less';

.articles {
  .article {
    display: block;
    margin: 0 0 1.5rem;
    border-top: 1px solid darken(@lightgray, 10%);
    border-bottom: 1px solid darken(@lightgray, 10%);
    box-sizing: border-box;
    position: relative;
    height: 280px;
    overflow: hidden;

    > .header {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: .5rem 1rem;
      background: white;
      z-index: 5;
      box-sizing: border-box;
    }

    > .footer {
      position: absolute;
      text-align: right;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 0 .5rem;
      background: white;
      z-index: 10;
      box-sizing: border-box;

      > .left {
        left: .5rem;
        top: 0;
        position: absolute;
      }

      > .timer {
        display: inline-block;
        color: #222;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    > .thumbnail {
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 1;
    }
  }

  &.list {
    background: @lightgray;
    padding: 1.5rem 0 0;
  }

  &.form {
    padding: 2rem;

    > label.form-input {
      margin: 0 0 2rem;
      display: block;
    }

    > .thumbnail {
      max-width: 100%;
      height: auto;
    }
  }
}
