<div class="container accounts">
    <div class="overlay" ng-show="AccountsVM.view === 'signin'">
        <div class="content">
            <h1 translate="ACCOUNTS.LOGIN_TO_EXISTING_ACCOUNT"></h1>
            <div class="form">
                <label>
                    <span translate="ACCOUNTS.EMAIL"></span>
                    <input type="text" ng-model="AccountsVM.User.email"
                           placeholder="{{ 'ACCOUNTS.EMAIL' | translate }}"/>
                </label>
                <label>
                    <span translate="ACCOUNTS.PASSWORD"></span>
                    <input type="password" ng-model="AccountsVM.User.password"
                           placeholder="{{ 'ACCOUNTS.PASSWORD' | translate }}"/>
                </label>
            </div>
            <div class="actions">
                <button ng-click="AccountsVM.setViewAction('')" translate="ACCOUNTS.BACK"></button>
                <button
                        class="primary" ng-click="AccountsVM.signinAction(AccountsVM.User)"
                        translate="ACCOUNTS.SIGNIN"></button>
            </div>
        </div>
    </div>

    <div class="overlay" ng-show="AccountsVM.view === 'signup'">
        <div class="content">
            <h1 translate="ACCOUNTS.CREATE_AN_ACCOUNT"></h1>
            <div class="form">
                <label>
                    <span translate="ACCOUNTS.EMAIL"></span>
                    <input type="text" ng-model="AccountsVM.User.email"
                           placeholder="{{ 'ACCOUNTS.EMAIL' | translate }}"/>
                </label>
                <label>
                    <span translate="ACCOUNTS.PASSWORD"></span>
                    <input type="password" ng-model="AccountsVM.User.password"
                           placeholder="{{ 'ACCOUNTS.PASSWORD' | translate }}"/>
                </label>
                <label>
                    <span translate="ACCOUNTS.CONFIRM_PASSWORD"></span>
                    <input type="password" ng-model="AccountsVM.User.password_confirmation"
                           placeholder="{{ 'ACCOUNTS.RETYPE_PASSWORD' | translate }}"/>
                </label>
            </div>
            <div class="actions">
                <button ng-click="AccountsVM.setViewAction('')" translate="ACCOUNTS.BACK"></button>
                <button
                        class="primary" ng-click="AccountsVM.signupAction(AccountsVM.User)"
                        translate="ACCOUNTS.SIGNUP"></button>
            </div>
        </div>
    </div>

    <div class="footer">
        <button class="primary" ng-click="AccountsVM.setViewAction('signin')" translate="ACCOUNTS.SIGNIN"></button>
        <button class="signup" ng-click="AccountsVM.setViewAction('signup')" translate="ACCOUNTS.SIGNUP"></button>
    </div>
</div>
